In [5]:
import pandas as pd
df = pd.read_json(path_or_buf='logs.jsonl', lines=True)

,assignment_id,end_ts,skill_value,start_ts,status,task_id,worker_id,diff_hours,skill_value_new
0,00A8AC4693FC7E5CB3D7B802BEA18D1382D77B3D629FB9...,1722261844,63,1722254644,EXPIRED,A5D505BE1651BF20A95EAFD7ABE6D7F16B8BED2799FB74...,E985D327D8938E8953D0F15088D97ECA362CDCB117AD52...,2,45.2
1,D7D9C2D0739D65BB9EE5F52BA79B26403844DF32EE9D83...,1722261439,71,1722254470,APPROVED,A5D505BE1651BF20A95EAFD7ABE6D7F16B8BED2799FB74...,00E6EF37FA54328CC10B133FD85772941133FF15B0AD0B...,1,48.4
2,674C6989349221F042C9DA17ADA62CAA1668939C9326D3...,1722262081,70,1722258044,APPROVED,1A9B5464AFDEF47B1647826F4D0106E35DFA72A0B4A10C...,0FC6CD812213C036109AFC4C6B66AE4111EE643C2AB624...,1,48.0

In [7]:
df['diff_hours'] = (df['end_ts'] - df['start_ts']) // 3600
df['skill_value_new'] = (df['skill_value'] - 50) * 0.4 + 40
df

,assignment_id,end_ts,skill_value,start_ts,status,task_id,worker_id,diff_hours,skill_value_new
0,00A8AC4693FC7E5CB3D7B802BEA18D1382D77B3D629FB9...,1722261844,63,1722254644,EXPIRED,A5D505BE1651BF20A95EAFD7ABE6D7F16B8BED2799FB74...,E985D327D8938E8953D0F15088D97ECA362CDCB117AD52...,2,45.2
1,D7D9C2D0739D65BB9EE5F52BA79B26403844DF32EE9D83...,1722261439,71,1722254470,APPROVED,A5D505BE1651BF20A95EAFD7ABE6D7F16B8BED2799FB74...,00E6EF37FA54328CC10B133FD85772941133FF15B0AD0B...,1,48.4
2,674C6989349221F042C9DA17ADA62CAA1668939C9326D3...,1722262081,70,1722258044,APPROVED,1A9B5464AFDEF47B1647826F4D0106E35DFA72A0B4A10C...,0FC6CD812213C036109AFC4C6B66AE4111EE643C2AB624...,1,48.0

In [11]:
sum_value = df[df['status'] == 'APPROVED']['skill_value_new'] * df['diff_hours']
sum_value

nan